In [7]:
import pandas as pd

In [8]:
df=pd.read_csv('titanic.csv')

In [9]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
df.dropna(inplace=True)

In [10]:
len(df["Survived"][df["Survived"] == 1])

342

In [15]:
df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [20]:
len(df.Sex [(df.Survived == 1) & (df.Sex == "female")])

233

In [23]:
len(df[(df.Pclass == 3) & df.Survived == 1 ])

119

In [114]:
94/233

0.4034334763948498

In [91]:
len(df)

891

In [94]:
342/891

0.3838383838383838

In [96]:
109/342

0.31871345029239767

In [7]:
from sklearn.preprocessing import LabelEncoder

In [24]:
data=df[['Pclass','Sex','Age','Fare']]

In [25]:
target=df[['Survived']]

In [31]:
type(target)

pandas.core.frame.DataFrame

In [13]:
males = df [ df["Pclass"] == 1]
males

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [14]:
len(males [males["Sex"] == "female"])

94

In [112]:
len(males["Survived"][males.Sex == "female"])

94

In [11]:
sex=LabelEncoder()

In [12]:
data['sex_n']=sex.fit_transform(data['Sex'])

<ipython-input-12-9bd75c89924c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sex_n']=sex.fit_transform(data['Sex'])

In [13]:
data['sex_n']

1      0
3      0
6      1
10     0
11     0
      ..
871    0
872    1
879    0
887    0
889    1
Name: sex_n, Length: 183, dtype: int32

In [14]:
#data['sex_n']=data['sex_n']
data_tran=data.drop('Sex',axis=1)

In [15]:
data_tran

     Pclass   Age     Fare  sex_n
1         1  38.0  71.2833      0
3         1  35.0  53.1000      0
6         1  54.0  51.8625      1
10        3   4.0  16.7000      0
11        1  58.0  26.5500      0
..      ...   ...      ...    ...
871       1  47.0  52.5542      0
872       1  33.0   5.0000      1
879       1  56.0  83.1583      0
887       1  19.0  30.0000      0
889       1  26.0  30.0000      1

[183 rows x 4 columns]

In [152]:
import numpy as np
len(data [ (data["Age"].isna() == True) & (data["Sex"] == "male") & (data["Pclass"] == 1)])

21

In [56]:
females,males=data['Sex'].value_counts()
#print(females)
#print(males)
females_avg=data[data['Sex']=='female']['Age'].mean()
females_avg
males_avg=data[data['Sex']=='male']['Age'].mean()

In [71]:
data_tran[data_tran['sex_n']==0]['Age']=data_tran[data_tran['sex_n']==0]['Age'].isna().replace(0,females_avg)

<ipython-input-71-5104b3376481>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tran[data_tran['sex_n']==0]['Age']=data_tran[data_tran['sex_n']==0]['Age'].isna().replace(0,females_avg)

In [69]:
data_tran[data_tran['sex_n']==1]['Age']=data_tran[data_tran['sex_n']==1]['Age'].isna().replace(1,females_avg)

<ipython-input-69-c7f396621470>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tran[data_tran['sex_n']==1]['Age']=data_tran[data_tran['sex_n']==1]['Age'].isna().replace(1,females_avg)

In [72]:
data_tran

     Pclass   Age     Fare  sex_n
0         3  22.0   7.2500      1
1         1  38.0  71.2833      0
2         3  26.0   7.9250      0
3         1  35.0  53.1000      0
4         3  35.0   8.0500      1
..      ...   ...      ...    ...
886       2  27.0  13.0000      1
887       1  19.0  30.0000      0
888       3   NaN  23.4500      0
889       1  26.0  30.0000      1
890       3  32.0   7.7500      1

[891 rows x 4 columns]

In [16]:
data_tran.shape

(183, 4)

In [17]:
from sklearn import tree

In [29]:
type(target)

pandas.core.frame.DataFrame

In [18]:
model=tree.DecisionTreeClassifier()

In [46]:
import sklearn
xtrain,xtest,ytrain,ytest=sklearn.model_selection.train_test_split(data_tran,target,train_size=0.8)

In [47]:
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [21]:
model.score(data_tran,target)

1.0

In [42]:
import sklearn
xt, xtes, ytr , yts = sklearn.model_selection.train_test_split(data_tran , target , train_size= 0.8)

In [43]:
model.fit(xt, ytr)

DecisionTreeClassifier()

In [48]:
model.score(xtes , yts)

0.9459459459459459